{% extends 'app/base.html' %} {% load static %}
<!--  -->
{% block content %}
<!-- all content that extends main.html will sit in here-->
<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-12">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                UNIONS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Sales Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                ZONES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Sales Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                TERTIARY FELLOWSHIPS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Sales Card -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                SHS FELLOWSHIPS
              </h5>
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 2ND SET  -->

        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                COMMITTEES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->
        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                CHAPLAINS/PCM
              </h5>
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->

        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                PATRONS
              </h5>
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->

        <div class="col-xxl-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                ALUMNI REPS
              </h5>
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <!--  -->
        <!--  -->
        <!-- End Sales Card -->

        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="font-size: 20px; color: #012970; font-weight: 400"
                  >
                    NATIONAL EXECUTIVES
                  </h5>
                  <p>Details of National Executive</p>

                  <!-- Table with stripped rows -->
                  {% if nationals %}
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Portfolio</th>
                        <th scope="col">Fellowship</th>
                        <th scope="col">Contact</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--  -->
                      {% for national in nationals %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                          <img
                            src="{% if national.executive_image %}{{national.executive_image.url}}{% endif %}"
                            alt=""
                            height="50"
                            width="50"
                            style="border-radius: 50%"
                          />
                        </td>
                        <td>{{national.full_name}}</td>
                        <td>{{national.position}}</td>
                        <td>{{national.current_gnaas_fellowship}}</td>
                        <td>{{national.phone}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                  <!--  -->
                  {%else %}
                  <h5 class="alert alert-primary ms-4 me-4">
                    No Records Available
                  </h5>

                  {% endif%}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- End Left side columns -->
  </div>
</section>
{% endblock %}

<!--  -->
<!--  -->
