{% extends 'app/base.html' %} {% load static %}
<!--  -->
{% block content %}
<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                UNIONS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{union_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                ZONES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{zone_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">CHAPLAINS/PCM</h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{chaplains_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                PATRONS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{patrons_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                UNIVERSITIES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{university_fellowship_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                NURS. & MIDWIFERY COLLEGE
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{nursing_training_fellowship_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                COLLEGE OF EDUCATION
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{teacher_training_fellowship_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                SECONDARY SCHOOLS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{shs_fellowship_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                COMMITTEES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{committee_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                ALUMNI REPS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{alumni_rep_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                PROGRAMS/VISITATIONS
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{program_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="card-body">
              <h5
                class="card-title"
                style="font-size: 20px; color: #012970; font-weight: 400"
              >
                EXECUTIVES
              </h5>

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people-fill"></i>
                </div>
                <div class="ps-3">
                  <h6>{{executive_count}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fellowship Population -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Zones Membership</h5>

              <!-- Bar Chart -->
              <canvas id="barChart" style="max-height: 400px"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector("#barChart"), {
                    type: "bar",
                    data: {
                      labels: [
                        "Central Ghana",
                        "South Central",
                        "Mid South",
                        "Mid West",
                        "North Mission",
                        "Mid Central",
                        "Ashanti South",
                        "Mountain View",
                        "Mid North",
                        "Green View",
                        "Mid South",
                        "Accra City",
                        "Pioneeer Ghana",
                        "West Central",
                        "South West",
                        "Western North",
                        "Volta Ghana",
                        "East Ghana",
                        "Meridian Ghana",
                        "Eastern View",
                        "Diamond Field",
                      ],
                      datasets: [
                        {
                          label: "Zones in both unions",
                          data: [
                            65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55,
                            40, 65, 59, 80, 81, 56, 55, 40,
                          ],
                          backgroundColor: [
                            "rgba(255, 128, 128, 0.2)",
                            "rgba(255, 192, 128, 0.2)",
                            "rgba(255, 255, 128, 0.2)",
                            "rgba(128, 255, 128, 0.2)",
                            "rgba(128, 192, 192, 0.2)",
                            "rgba(128, 128, 255, 0.2)",
                            "rgba(192, 128, 255, 0.2)",
                            "rgba(192, 192, 192, 0.2)",
                            "rgba(128, 128, 128, 0.2)",
                            "rgba(255, 0, 0, 0.2)",
                            "rgba(255, 128, 0, 0.2)",
                            "rgba(255, 255, 0, 0.2)",
                            "rgba(0, 255, 0, 0.2)",
                            "rgba(0, 192, 192, 0.2)",
                            "rgba(0, 128, 255, 0.2)",
                            "rgba(128, 0, 255, 0.2)",
                            "rgba(192, 0, 192, 0.2)",
                            "rgba(192, 0, 0, 0.2)",
                            "rgba(192, 96, 0, 0.2)",
                            "rgba(192, 192, 0, 0.2)",
                            "rgba(0, 192, 0, 0.2)",
                          ],
                          borderColor: [
                            "rgba(255, 71, 71, 1)",
                            "rgba(255, 133, 71, 1)",
                            "rgba(255, 199, 71, 1)",
                            "rgba(93, 209, 82, 1)",
                            "rgba(71, 182, 182, 1)",
                            "rgba(71, 107, 255, 1)",
                            "rgba(148, 71, 255, 1)",
                            "rgba(210, 210, 210, 1)",
                            "rgba(102, 102, 102, 1)",
                            "rgba(255, 0, 0, 1)",
                            "rgba(255, 102, 0, 1)",
                            "rgba(255, 255, 0, 1)",
                            "rgba(0, 204, 0, 1)",
                            "rgba(0, 153, 153, 1)",
                            "rgba(0, 0, 255, 1)",
                            "rgba(153, 0, 204, 1)",
                            "rgba(204, 0, 102, 1)",
                            "rgba(204, 0, 0, 1)",
                            "rgba(153, 76, 0, 1)",
                            "rgba(153, 153, 0, 1)",
                            "rgba(0, 153, 0, 1)",
                          ],
                          borderWidth: 1,
                        },
                      ],
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true,
                        },
                      },
                    },
                  });
                });
              </script>
              <!-- End Bar CHart -->
            </div>
          </div>
        </div>
        <!-- Fellowship population -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Recent Activity -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SMS Sent <span>| Recent</span></h5>

          <div class="activity">
            <div class="activity-item d-flex">
              <div class="activite-label">Date</div>
              <i
                class="bi bi-circle-fill activity-badge text-success align-self-start"
              ></i>
              <div class="activity-content">Message title</div>
            </div>
            <!-- End activity item-->
          </div>
        </div>
      </div>
      <!-- End Recent Activity -->
      <!-- Budget Report -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fellowships in the union</h5>

          <!-- Doughnut Chart -->
          <canvas id="doughnutChart" style="max-height: 400px"></canvas>
          <script>

            document.addEventListener("DOMContentLoaded", () => {
              new Chart(document.querySelector("#doughnutChart"), {
                type: "doughnut",
                data: {
                  labels: ["SGUC", "NGUC"],
                  datasets: [
                    {
                      label: "My First Dataset",
                      // It is underlined red because we are puting Django directly into js
                      // It does not mean it is an error message
                      // This will replace data: [300, 50], with data: [count_sguc, count_nguc],
                      data: [{{ count_sguc }}, {{ count_nguc }}],
                      backgroundColor: [
                        "rgb(255, 99, 132)",
                        "rgb(54, 162, 235)",
                      ],
                      hoverOffset: 4,
                    },
                  ],
                },
              });
            });
          </script>
          <!-- End Doughnut CHart -->
        </div>
      </div>
      <!-- End Budget Report -->

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gender Based Population</h5>

          <!-- Pie Chart -->
          <div id="pieChart2"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#pieChart2"), {
                series:[{{  males_count }}, {{ females_count }}],
                chart: {
                  height: 350,
                  type: "pie",
                  toolbar: {
                    show: true,
                  },
                },
                labels: ["Males", "Females"],
              }).render();
            });
          </script>
          <!-- End Pie Chart -->
        </div>
      </div>
      <!-- Website Traffic -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Institutional Membership</h5>

          <!-- Pie Chart -->
          <div id="pieChart" style="min-height: 400px" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#pieChart")).setOption({
                title: {
                  left: "center",
                },
                tooltip: {
                  trigger: "item",
                },
                legend: {
                  orient: "vertical",
                  left: "left",
                },
                series: [
                  {
                    name: "Access From",
                    type: "pie",
                    radius: "50%",
                    data: [
                      {
                        value: {{university_fellowship_count}},
                        name: "Universities",
                      },
                      {
                        value: {{nursing_training_fellowship_count}},
                        name: "NMTC",
                      },
                      {
                        value: {{teacher_training_fellowship_count}},
                        name: "COE",
                      },
                      {
                        value: {{shs_fellowship_count}},
                        name: "SHS",
                      },
                    ],
                    emphasis: {
                      itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: "rgba(0, 0, 0, 0.5)",
                      },
                    },
                  },
                ],
              });
            });
          </script>
          <!-- End Pie Chart -->
        </div>
      </div>
      <!-- End Website Traffic -->
    </div>
    <!-- End Right side columns -->
  </div>
</section>
{% endblock %}
<!-- End #main -->
