{% extends 'app/base.html' %} {% load static %}
<!--  -->
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GNAAS COMMITTEES</h5>
          <div class="binary-container">
            <!-- ASSETS>CSS>STYLE.CSS> -->
            <div class="binary_content">
              <span class="binary">Excel</span>
              <span class="binary">CSV</span>
              <span class="binary">PDF</span>

              <!-- ========================================= -->
              <!-- ===========VIEW MODAL TO GUIDE USERS ON HOW TO UPLOAD EXCEL FILES-->
              <!-- ======================================== -->

              <!-- Basic Modal -->
              <button
                type="button"
                class="btn btn-primary sm"
                data-bs-toggle="modal"
                data-bs-target="#basicModal"
              >
                <i class="bi bi-upload" style="font-size: 1.4rem"></i>&nbsp;
                Upload from excel sheet
              </button>
              <div class="modal fade" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">STEPS TO FOLLOW</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <ol>
                        <li>
                          <a
                            href="{% static 'excel_template/committee.xlsx' %}"
                            download
                            >Click here to Download the template file</a
                          >
                        </li>
                        <li>Provide accurate information under each column</li>
                        <li>
                          Click on
                          <span style="font-weight: 900">Choose File</span> to
                          select the file and click on
                          <span style="font-weight: 900">Upload File</span> to
                          Submit
                        </li>
                        <br />
                        <a href="" class="btn btn-primary">
                          <form
                            action="{% url 'read_committee'%}"
                            method="post"
                            enctype="multipart/form-data"
                          >
                            {% csrf_token %}
                            <input type="file" name="file" id="file" />

                            <button>
                              <i
                                class="bi bi-upload"
                                style="font-size: 1.4rem"
                              ></i
                              >&nbsp; Upload File
                            </button>
                          </form>
                        </a>
                      </ol>
                      <br />
                      <p>
                        <span style="font-weight: 900">NOTE THE FOLLOWING</span>
                      </p>
                      <!-- note for users -->
                      <ul>
                        <li>Hyphens (-) are not allowed in compound words</li>
                        <li>
                          Each word must begin with a capital letter (Captalize)
                        </li>
                        <li>
                          All columns apart from the first columns can be null
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Basic Modal-->

              <!-- ========================================= -->
              <!-- ===========VIEW MODAL FORM END-->
              <!-- ======================================== -->
            </div>
            <div class="binary_content">
              <a href="{% url 'create-committee' %}" class="btn btn-secondary">
                <i class="bi bi-align-center" style="font-size: 1.4rem"></i>Add
                New Committee
              </a>
            </div>
          </div>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Mandate</th>
                <th scope="col">Date</th>

                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if committees %}
              <!--  -->
              {% for committee in committees %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{committee.name}}</td>
                <td>{{committee.mandate}}</td>
                <td>{{committee.date_of_assumption}}</td>
                <td class="d-flex">
                  <!-- ========================================= -->
                  <!-- ===========VIEW MODAL FORM START-->
                  <!-- ======================================== -->

                  <!-- Basic Modal -->
                  <button
                    type="button"
                    class="btn btn-success btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#basicModal{{committee.id}}"
                  >
                    <i class="bi bi-eye"></i> View
                  </button>
                  <div
                    class="modal fade"
                    id="basicModal{{committee.id}}"
                    tabindex="-1"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            Viewing {{committee.name}}
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <p>
                            <span style="font-weight: 900"> Name :</span
                            >{{committee.name}}
                          </p>
                          <p>
                            <span style="font-weight: 900">Mandate :</span
                            >{{committee.mandate}}
                          </p>
                          <p>
                            <span style="font-weight: 900">Date Created :</span
                            >{{committee.year_of_service}}
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Basic Modal-->

                  <!-- ========================================= -->
                  <!-- ===========VIEW MODAL FORM END-->
                  <!-- ======================================== -->

                  <a
                    href="{% url 'edit-committee' committee.id %}"
                    class="btn btn-outline-info btn-sm tex text-info mx-2"
                    ><i class="bi bi-pencil"></i> Edit</a
                  >

                  <!-- delete button -->
                  <!-- ===========delete MODAL FORM BUTTON-->
                  <!-- ======================================== -->

                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#delete{{committee.id}}"
                  >
                    <i class="bi bi-trash"></i> delete
                  </button>
                  <!-- ========================================= -->
                  <!-- ===========DELETE MODAL FORM MODAL-->
                  <!-- ======================================== -->
                  <!-- Delete modal -->
                  <div
                    class="modal"
                    id="delete{{committee.id}}"
                    aria-labelledby="myModalLabel2"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">
                            You are about to delete an executive
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>
                            Are you sure you want to delete
                            {{executive.full_name}}
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                          <form
                            action="{% url 'delete-committee' committee.id %}"
                            method="POST"
                          >
                            {% csrf_token %}
                            <input
                              type="submit"
                              class="btn btn-danger"
                              value="Delete"
                            />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- ========================================= -->
                  <!-- ===========DELETE MODAL FORM END-->
                  <!-- ======================================== -->
                </td>
              </tr>
              {% endfor %}

              <!--  -->

              {% endif%}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
